.container {
    display: grid;
    place-items: center;
    padding: 60px;
    background-color: beige;
    border: solid 1px rgb(104, 103, 103);
    border-radius: 5px;
    max-width: 1200px;
}
h2 {
    font-weight: 500;
}
th {
    color: gray;
    padding-right: 20px;
}