<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--<link href="/home/roman/goproject/src/github.com/Roman77St/simple_project/frontend/static/style.css" rel="stylesheet"> -->
    <link href="/static/style.css" rel="stylesheet">
    <link href="/static/man.ico" rel="icon" type="image/ico" sizes="16x16]">
    <title>Users</title>
</head>
<body>
    <div class="container">
        <div class="top">

        </div>
        <h2>Регистрация</h2>
        <div>
            <form id="loginform">
                <p>
                    Почта:<br />
                    <input id="user-Email"/>
                </p>
                <p>
                    Пароль:<br />
                    <input id="user-Password" type="password"/>
                </p>
                 <p>
                     <button type="button" id="confirmBtn">Подтвердить</button>
                     <button type="button" id="fogotBtn">Забыли пароль?</button>
                </p>
                </form>
        </div>
    </div>
</body>
<script src="/static/login.js"></script>
</html>